<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./commentViewer.component.css" rel="stylesheet">
    </head> 

  
<body>
     <!--Below Are the Verticle Lines for Margins-->
     <div class="v1"></div>
     <div class="v2"></div>
 
     <div class="container">
       <div class="toppane">
         <!--Banded Header-->
         <div class = "title"> Banded</div>
 
         <!-- if signed in displays profile info -->
         <div class="user" *ngIf = "checkProfile()">
           <div class="smallUserName">{{currProfile.userName}}</div>
           <img class= "smallProfileImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1Mcs-qS5Q5-CO5gtMi3uhprMUS0ee7dijxa3nei0XEK41jFbXyWlIDr1CA0KKGdD33o&usqp=CAU" alt= usernameholder>
         </div>
       </div>
       <div class="leftpane">
        <div>
          <p></p>
          <a routerLink="/createPost" class="nav-link"> <button class="side-button">Create Post</button></a>
          <p></p>
          <a href="/dmPage" class="nav-link"><button class="side-button">Direct Messages</button></a>
          <p></p>
          <a routerLink="/topics/following" class="nav-link"> <button class="side-button">Following Topics</button></a>
          <p></p>
          <a routerLink="/topics" class="nav-link"> <button class="side-button">Browse Topics</button></a>
          <p></p>
          <button class="side-button">Settings</button>
        </div>
       </div>
       <div class="middlepane">
         <div class="timeline">
           <div class="post">
            <div style="display: flex; justify-content: space-between;">
              <span class="post-time"> {{this.convertDateTime(currPost.postTime)}} </span>
              <a href="{{'/profile/'+currPost.userName}}" *ngIf="currPost.userName != 'Anonymous'"><span class="post-user"> {{currPost.userName}} </span></a>
            </div>
            <div class="post-tags">
              <div class="name"></div> Topic:
              <a href="{{'/topic/'+currPost.topicID}}"><div class="tag"> {{currPost.topicName}} </div> </a>            
            </div>

            <div class="post-content">
              <div class = "post-title"> {{currPost.postTitle}} </div>
              <div class="post-text"> {{currPost.postText}} </div>
            </div>
            <div class="post-footer">
              <a routerLink="{{'/postViewingPage/'+currPost.postID}}" class="reply-button">Reply --></a>
            </div>
          </div>
 
           <!-- start of first post -->
           <div class="post" *ngFor="let comment of comments">
            <div style="display: flex; justify-content: space-between;">
              <span class="post-time"> {{this.convertDateTime(comment.postTime)}} </span>
              <a href="{{'/profile/'+comment.userName}}" *ngIf="comment.userName != 'Anonymous'"><span class="post-user"> {{comment.userName}} </span></a>
              <span class="post-user"  *ngIf="comment.userName == 'Anonymous'"> {{comment.userName}} </span>
            </div>
            <div class="post-tags">
              <div class="name"></div> Tags:
              <a href="{{'/topic/'+comment.topicID}}"><div class="tag"> {{comment.topicName}} </div> </a>
            </div>

            <div class="post-content">
              <div class = "post-title"> {{comment.postTitle}} </div>
              <div class="post-text"> {{comment.postText}} </div>
            </div>
            <div class="post-footer">
              <!-- The button that will redirect to the post page -->
              <a routerLink="{{'/postViewingPage/'+comment.postID}}" class="reply-button">Reply --></a>
              <br>              
              <button class="deletePost" style="border: none; color: rgb(242, 46, 46);" *ngIf="this.comment.userName == this.currProfile.userName">Delete Post</button>
            </div>
          </div>
     
           <!-- spacing between posts -->
           <p></p>
     
           <!-- end of posts -->
 
           <div class="timeline-footer">
             <!-- TODO this needs to pass a int to backend too -->
             <button class = "refresh-button" onClick="window.location.reload();">Refresh Page</button>
           </div>
         </div>
       </div>
     </div>    
  </body>
</html>